// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Sweetalert2
//@import 'sweetalert2/src/sweetalert2.scss';
@import '~@sweetalert2/theme-borderless/borderless.scss';

.content_menu_vp p span {
    color: #d30035;
    font-size: 22px;
}
.content_menu_vp p span:hover{
    color:black;
}
.color-primary-sys{
    color: $prymary_sys;
}
.link-sys{
    color: $prymary_sys;
}
.link-sys:hover{
    color: black;
}
.undraw_text {
    width: 100%;
    color: $prymary_sys;
    text-align: center;
}
.title_page {
    color: $prymary_sys;
    font-weight: bold;
}


.principal-container-vp::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $prymary_sys;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.principal-container-vp::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.principal-container-vp::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: $prymary_sys;
    ;
}

.comment-box-modal::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $prymary_sys;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.comment-box-modal::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.comment-box-modal::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: $prymary_sys;
    ;
}


.btn-default-sys{
    background-color: #AEB6BF;
    color:black;
    font-weight: bold;
}
.btn-primary-sys{
    background-color: $prymary_sys;
    color:white;
    font-weight: bold;
}
.comment-item{
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding:10px;
    opacity: 0.9;
}
.info-click{
    background-color: $prymary_sys;
    cursor: pointer;
}